In [1]:
import pandas as pd
import os
import nltk
from nltk.stem.snowball import EnglishStemmer
import cv2

nrows = None

# nltk.download()

# Preprocess text

In [2]:
stemmer = EnglishStemmer()
tokenizer = nltk.RegexpTokenizer(r'\w+')
stop_words = [stemmer.stem(w) for w in list(nltk.corpus.stopwords.words('english'))]

def clean_up(text):
    tokens = tokenizer.tokenize(text)
    tokens = [stemmer.stem(w) for w in tokens]
    tokens = [w for w in tokens if not w in stop_words]
    return " ".join(tokens)

def get_negative_comments(comments):
    negative_comments = comments[comments["stars"]<3]["text"].to_list()

    for comment_id in range(len(negative_comments)):
        negative_comments[comment_id] = negative_comments[comment_id].replace('\n', ' ')
        
    return negative_comments

In [35]:
filename = './yelp_dataset/yelp_academic_dataset_review.json'
chunksize = 64

def tokenize_comments():
    c=0
    for comments in pd.read_json(filename, lines=True, chunksize=chunksize):
        negative_comments = get_negative_comments(comments)
        tokenized_text = [*map(clean_up, negative_comments)]
        res_df = pd.DataFrame(data=tokenized_text, columns=['tokenized_text'])
        if c:
            res_df.to_csv('preprocessed_text.csv', mode='a', index=False, header=False)
        else:
            res_df.to_csv('preprocessed_text.csv', mode='a', index=False)
            c=1

# tokenize_comments()

In [3]:
t_filename = './preprocessed_text.csv'

# df = pd.read_csv(t_filename)

                                       tokenized_text
0   stay mani marriott renaiss marriott huge disap...
1   place use cool chill place bunch neanderth bou...
2   set perfect adequ food come close dine chain l...
3   never seem get order correct servic crappi foo...
4   disappoint bolt follow fanni fabric close like...
..                                                ...
95  decid take laptop mactron base friend recommen...
96  1 would like make clear visit offic comment de...
97  awe awe awe servic rude hostess dismiss care b...
98  recommend place ate grandfath halfway eat meal...
99  total kind place let skew review much wow plac...

[100 rows x 1 columns]

In [4]:
def get_most_used():
    freqs = {}
    tokenized_text = df["tokenized_text"].to_list()
    for comment in tokenized_text:
        if isinstance(comment, str):
            comment = comment.split()
            for word in list(set(comment)):
                if word in freqs:
                    freqs[word] += 1
                else:
                    freqs[word] = 1

    freqs_list = [(x, freqs[x]/df.shape[0])for x in freqs]
    freqs_list = sorted(freqs_list, key=lambda x:x[1])[::-1]

    out = [x[0]for x in freqs_list[:500]]

    with open("most_used.txt", "w+") as f:
        for w in out:
            f.write(w)
            f.write('\n') 
            
# get_most_used()

['stay mani marriott renaiss marriott huge disappoint front desk atrium nice starbuck site nice room run old flat screen expect renaiss got hotel via pricelin rate 75 night good deal price true renaiss', 'place use cool chill place bunch neanderth bouncer hop steroid act like whatev want mani better place davi squar glad visit busi sad burren worst place davi', 'set perfect adequ food come close dine chain like chili victoria station barbecu better surpris alway pick coupon linwood restaur com', 'never seem get order correct servic crappi food inconsist gone hill steadili last 6 9 month never go', 'disappoint bolt follow fanni fabric close like fanni select small fabric lean toward contemporari also small stock fabric order howev enough room display select like tri paw closet twice mani cloth rack meant handl woman work time nice help howev mother bought fabric problem employe help us calcul yardag without take repeat consider brought pillow form doubt exact larg mother abl make project work came pillow short time pillow made realiz short return bolt month time fabric sold plan reorder fortun make number larg throw pillow number want flexibl upholsteri job piec partial complet obvious unaccept advis feel free shop figur measur', 'wish could give zero star call taker rude technician incompet manag know custom servic overpr quot 230 went anoth locksmith actual got lock quot total 79 technician late twice could pick lock unusu said would drill lock ok fail bring charg batteri never offer come back charg batteri soon could offer send someon els said could howev come back around 10 hour later tabl usual need get lock need minut said charg 30 servic fee servic never receiv contact manag seem task said right charg 30 refus technician offer come back later doubt manag knew tabl payment still reimburs 30', 'great coffe pastri barista excel staff sooooo lost vacant', 'almost desol restaur dingi eviron star deciev lunch menu claim dish 550 3 saturday still charg 2 star congeal beef soup star friend dish come 30 minut got mine get soup came star ask water 5 time get right bill came star welp seem star whoopsi daisi want forgiv sinc waitress new even manag step screw excus mediocr food', 'first arriv coco key greet number staff member check process slight awkward staff appear new train happen time time harm foul foul part came enter room carpet soggi near bathroom entir room permeat musti smell someth along line aeu de someon flood toilet unpack done sucker opportun stick thing make work call front desk short thereaft housekeep appear spray bottl investig agre carpet need clean would happen follow day began spritz assum anti mold stuff ask clear see point mean sort timid communic realli need outgrow long stori short time hose carpet wall doorway spray bottl left cough choke fume forc spend night door open weak attempt ventil room leav heart fl may donat small portion lung tissu probabl ask die much aliv howev doubt ever return coco key', 'love ale hous time 1 star place servic 1 star manag give absolut zero respect game soccer come sinc open seen numer time understaff final tournament year past shown capac shame great establish great employe manag could sort place would 5 star']

In [17]:
n_frequent = []

with open("most_used.txt", "r") as f:
    for l in f:
        n_frequent.append(l[:-1])

n_frequent = n_frequent[:250]

def clear_words(tokens):
    if isinstance(tokens, str):
        return " ".join([w for w in tokens.split() if not w in n_frequent])
    else:
        return ""


def del_most_freq():
    df["tokenized_text"] = df["tokenized_text"].apply(clear_words)
    df.to_csv('preprocessed_reviews.csv')
    
# del_most_freq()

# Preprocess images

In [5]:
save_path = "preprocessed_imgs"

pictures = pd.read_json("photos.json", lines=True, nrows=nrows)[["photo_id"]]

pictures.head()

                 photo_id
0  Un_Og6jfhazVn7CxszkKEw
1  BFE1AFOs27scnnfeBf99ZA
2  7t-C0r1JRdoVD9FS7M-N7Q
3  rLnw0d-YYZvT9kR4y7h7_Q
4  Cv5M8MDw8a5NEWvw2AQ4nw

In [6]:
def hisEqulColor(img):
    ycrcb=cv2.cvtColor(img,cv2.COLOR_BGR2YCR_CB)
    channels=cv2.split(ycrcb)
    cv2.equalizeHist(channels[0],channels[0])
    cv2.merge(channels,ycrcb)
    cv2.cvtColor(ycrcb,cv2.COLOR_YCR_CB2BGR,img)
    return img

def preprocess_imgs():
    done = 1
    for index, row in pictures.iterrows():
        img = cv2.imread(os.path.join("./yelp_photos", f"{row['photo_id']}.jpg"), -1)
        img = cv2.resize(img, (224, 224)) # resize to vgg16 input size
        img = cv2.blur(img,(5, 5)) # apply gaussian blur
        img = hisEqulColor(img) # equalize histogram
        cv2.imwrite(os.path.join(save_path, f"{row['photo_id']}.jpg"), img) # save image
        if not done % 1000:
            print(f"Done {done}/200 000")
        done += 1
        
# preprocess_imgs()

Done 1000/200 000
Done 2000/200 000
Done 3000/200 000
Done 4000/200 000
Done 5000/200 000
Done 6000/200 000
Done 7000/200 000
Done 8000/200 000
Done 9000/200 000
Done 10000/200 000
Done 11000/200 000
Done 12000/200 000
Done 13000/200 000
Done 14000/200 000
Done 15000/200 000
Done 16000/200 000
Done 17000/200 000
Done 18000/200 000
Done 19000/200 000
Done 20000/200 000
Done 21000/200 000
Done 22000/200 000
Done 23000/200 000
Done 24000/200 000
Done 25000/200 000
Done 26000/200 000
Done 27000/200 000
Done 28000/200 000
Done 29000/200 000
Done 30000/200 000
Done 31000/200 000
Done 32000/200 000
Done 33000/200 000
Done 34000/200 000
Done 35000/200 000
Done 36000/200 000
Done 37000/200 000
Done 38000/200 000
Done 39000/200 000
Done 40000/200 000
Done 41000/200 000
Done 42000/200 000
Done 43000/200 000
Done 44000/200 000
Done 45000/200 000
Done 46000/200 000
Done 47000/200 000
Done 48000/200 000
Done 49000/200 000
Done 50000/200 000
Done 51000/200 000
Done 52000/200 000
Done 53000/200 000
Done 54000/200 000
Done 55000/200 000
Done 56000/200 000
Done 57000/200 000
Done 58000/200 000
Done 59000/200 000
Done 60000/200 000
Done 61000/200 000
Done 62000/200 000
Done 63000/200 000
Done 64000/200 000
Done 65000/200 000
Done 66000/200 000
Done 67000/200 000
Done 68000/200 000
Done 69000/200 000
Done 70000/200 000
Done 71000/200 000
Done 72000/200 000
Done 73000/200 000
Done 74000/200 000
Done 75000/200 000
Done 76000/200 000
Done 77000/200 000
Done 78000/200 000
Done 79000/200 000
Done 80000/200 000
Done 81000/200 000
Done 82000/200 000
Done 83000/200 000
Done 84000/200 000
Done 85000/200 000
Done 86000/200 000
Done 87000/200 000
Done 88000/200 000
Done 89000/200 000
Done 90000/200 000
Done 91000/200 000
Done 92000/200 000
Done 93000/200 000
Done 94000/200 000
Done 95000/200 000
Done 96000/200 000
Done 97000/200 000
Done 98000/200 000
Done 99000/200 000
Done 100000/200 000
Done 101000/200 000
Done 102000/200 000
Done 103000/200 000
Done 104000/200 000
Done 105000/200 000
Done 106000/200 000
Done 107000/200 000
Done 108000/200 000
Done 109000/200 000
Done 110000/200 000
Done 111000/200 000
Done 112000/200 000
Done 113000/200 000
Done 114000/200 000
Done 115000/200 000
Done 116000/200 000
Done 117000/200 000
Done 118000/200 000
Done 119000/200 000
Done 120000/200 000
Done 121000/200 000
Done 122000/200 000
Done 123000/200 000
Done 124000/200 000
Done 125000/200 000
Done 126000/200 000
Done 127000/200 000
Done 128000/200 000
Done 129000/200 000
Done 130000/200 000
Done 131000/200 000
Done 132000/200 000
Done 133000/200 000
Done 134000/200 000
Done 135000/200 000
Done 136000/200 000
Done 137000/200 000
Done 138000/200 000
Done 139000/200 000
Done 140000/200 000
Done 141000/200 000
Done 142000/200 000
Done 143000/200 000
Done 144000/200 000
Done 145000/200 000
Done 146000/200 000
Done 147000/200 000
Done 148000/200 000
Done 149000/200 000
Done 150000/200 000
Done 151000/200 000
Done 152000/200 000
Done 153000/200 000
Done 154000/200 000
Done 155000/200 000
Done 156000/200 000
Done 157000/200 000
Done 158000/200 000
Done 159000/200 000
Done 160000/200 000
Done 161000/200 000
Done 162000/200 000
Done 163000/200 000
Done 164000/200 000
Done 165000/200 000
Done 166000/200 000
Done 167000/200 000
Done 168000/200 000
Done 169000/200 000
Done 170000/200 000
Done 171000/200 000
Done 172000/200 000
Done 173000/200 000
Done 174000/200 000
Done 175000/200 000
Done 176000/200 000
Done 177000/200 000
Done 178000/200 000
Done 179000/200 000
Done 180000/200 000
Done 181000/200 000
Done 182000/200 000
Done 183000/200 000
Done 184000/200 000
Done 185000/200 000
Done 186000/200 000
Done 187000/200 000
Done 188000/200 000
Done 189000/200 000
Done 190000/200 000
Done 191000/200 000
Done 192000/200 000
Done 193000/200 000
Done 194000/200 000
Done 195000/200 000
Done 196000/200 000
Done 197000/200 000
Done 198000/200 000
Done 199000/200 000
Done 200000/200 000